<footer class="page-footer light-blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Any Api
            <p class="grey-text text-lighten-5" style="font-size: 16px;">Any Api is a simple api for any project and any
              language, totally free, for private, for public, for developers, for anyone, donations are optional but
              very appreciated.</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Menu</h5>
          <ul>
            <li><a class="white-text" href="/support">Support</a></li>
            <li><a class="white-text" href="#!">Status</a></li>
            <li><a class="white-text" href="/donate">Donate</a></li>
            <li><a class="white-text" href="#!">Documentation</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="purple-text text-lighten-3" href="http://mdcdev.me">MDC</a><br>
        An aplication of <a class="red-text text-lighten-3" href="https://discord.gg/fpheq7JYt3">Modding Discord
          Community</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>